.tabs-container {
    display: flex;
    justify-content:space-around;
    background-color: #f0f0f0; /* Adjust background color as needed */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 10px;
  }
  
  .tab {
    text-decoration: none;
    color: #333; /* Adjust text color as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .tab:hover {
    background-color: #ddd; /* Adjust hover background color as needed */
  }
  
  .tab.active {
    background-color: #ccc; /* Adjust active tab background color as needed */
    font-weight: bold; /* Adjust font weight for active tab as needed */
  }
  